.message-box{
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-width: 300px;
    padding: 10px 24px;
    top: -100%;
    left: 38%;
    border-radius: 6px;
    border: 1px solid white;
    z-index: 1000;
    font-size: large;
    transition: top 500ms ease-in-out;
    background-color:black;

    animation-name: message;
    animation-timing-function: ease-in-out;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 850ms;
}

.message-box p{
    color:white;
}

.message-box.message-active{
    top: 40%;
    transform: translate(-50%,-50%);
}

@keyframes message {
    0%{ transform:scale(1)}
    100%{transform:scale(1.1)} 
}


