/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */


/* GENERAL STYLING */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

/* variables */
html{

  --content-width:1000px;
}

body{
    background-color: #1b1b1b;

}

p,span,h1,h2,h3,h4,h5,h6,a{
  color:whitesmoke
}

p{
  line-height:26px;
}

h1{
    font-size:60px;
    color:wh
}

/* Layout styles */
.outer-wrapper{

}

.inner-wrapper{
  max-width:var(--content-width);
  padding:80px 16px;
}


  @media (max-width:600px){
    .outer-wrapper{
      padding:40px 16px;
    }
  }