/* medieval font? */
/* @import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap"); */

.battle__container {
  width: 100%;
color:white;
  background-image: url("../smoke1.jpeg");
  background-size: cover;
  display:flex;
  justify-content:center;
}

.battle__container .inner-wrapper{
  width:100%;
  display:flex;
flex-direction:column;
align-items:center;
max-width:1000px;
}

.battle__title{
  margin-bottom:20px;
  border-bottom:1px solid white;
}

.battle__title h1{
  text-transform: uppercase;
}

.battle__belligerents{
  display:flex;
  width:100%;
  align-items:flex-start;
  justify-content: space-evenly;
  margin-bottom:20px;
}

.belligerent__container {
  display: flex;
  gap:8px;
flex-direction:column;
}

 .commander{
  display:flex;
  align-items:center;
  gap:8px;
} 

/* img element,border radius of 60% to make round, and cover not contain */
.commander-flag {
  object-fit: cover;
  border-radius: 60%;
  width: 35px;
  height: 35px;
}


.battle__image-container{
  position:relative;
  height:400px;
  width:70%;
  margin-bottom:20px;
}

.battle__image-container .battle-pic {
  inset:0;
  height:100%;
  width:100%;
  object-fit: cover;
  position:absolute;
  border: 1px solid whitesmoke;
}


.battle__statistics{
  display:grid;
  grid-template-columns:50% 50%;
  row-gap:16px;
}

.stat-unit{
display:flex;
gap:8px;
align-items: center;
border-bottom:1px solid whitesmoke;
}

.stat-unit-icon svg{
  height:40px;
  width:40px;
}

.stat-unit-title{
  font-size:32px;
}

.stat-unit-value{font-size:20px;}

.battle__text-container h2{
  margin-bottom:8px;
}


.battle__extras-container{
  width:100%;
}

.battle__video-container{
    width: 100%;
}

.battle__video-container iframe{
   width:100%;
}


.battle-result {
  text-align: center;
}

/* div containing prelude and description divs of header and paragraph */
.battle-detail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40vw;
  color: whitesmoke;
  backdrop-filter: blur(5px);
  grid-area: detail;
}

.prelude,
.description {
  margin-top: 20px;
  text-align: justify;
  width: 100%;
}

.prelude h2,
.description h2 {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 4px;
}

.quiz-wrapper {
  margin: 20px 0;
  justify-self: center;
  align-self: flex-start;
}


@media (max-width:600px){
  .battle__belligerents{
    flex-direction: column;
    gap:16px;
  }

  .battle__image-container{
    height:200px;
    width:100%;
  }

  .battle__statistics{
    grid-template-columns:1fr;
  }

  .stat-unit-icon svg{
    width:30px;
    height:30px;
  }

  .stat-unit-value{
    font-size:16px;
  }

  .stat-unit-title{
    display:none;
  }

  .battle__video-container iframe{
   height:320px;
}

}