.commander-detail__container{
    display:flex;
    justify-content: center;
    
}

.commander-detail__inner-wrapper{
    display:flex;
    gap:40px;
}

.commander-detail__image-stats{
    flex:1;
   display:flex;
   flex-direction: column;
   gap:32px;
}

.commander-detail__name-biography{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:24px;
}

/* name */
.commander-detail__title h1{
    font-size:50px
}

/* title */
.commander-detail__title p{

}

.commander-detail__image-container{
position:relative;
overflow:hidden;
height:400px;
}

.commander-detail__image-container img{
object-position: top center;
    inset:0;
    height:100%;
    width:100%;
    object-fit: cover;
position:absolute;

}

.commander-detail__statistics{
display:flex;
flex-direction: column;
gap:16px;
}

.commander-detail__stat-unit{
    
}
.commander-detail__stat-title{
    font-weight:500;
    font-size:24px;
}
.commander-detail__stat-data{}


.commander-detail__biography{
    display:flex;
    flex-direction:column;
    gap:8px;
}

