.commander-detail__container{
    display:flex;
    justify-content: center;
}

.commander-detail__inner-wrapper{
    display:flex;
    gap:40px;
}

.commander-detail__image-stats{
   display:flex;
   flex-direction: column;
   gap:32px;
}

.commander-detail__name-biography{
    display:flex;
    flex-direction:column;
    gap:24px;
}

/* name */
.commander-detail__title h1{
    font-size:50px
}

.commander-detail__image-container{
position:relative;
overflow:hidden;
height:400px;
}

.commander-detail__image-container img{
object-position: top center;
    inset:0;
    height:100%;
    width:100%;
    object-fit: cover;
position:absolute;
}

.commander-detail__statistics{
display:flex;
justify-content: center;
gap:16px;
margin-bottom:40px;
}

.commander-detail__stat-unit{
    display:flex;
    gap:2px;
}
.commander-detail__stat-title{
    font-weight:500;
    font-size:24px;
}

.commander-detail__biography{
    display:flex;
    flex-direction:column;
    gap:8px;
    text-align: justify;
}


@media (max-width:600px){
    .commander-detail__statistics{
        flex-wrap:wrap;
        justify-content: flex-start;
        margin-bottom:20px;
    }

    .commander-detail__image-container{
        height:250px;
    }
}