.commanders__container {
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.commanders__container .inner-wrapper{
  max-width:var(--content-width);
}

.commanders__header {
  color: white;
  margin-bottom:20px;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

.commanders__grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:16px;

  @media (max-width:600px){
    grid-template-columns:1fr 1fr 1fr;
  }

}


