.navbar {
  display: flex;
  width: 100%;
  background-color: #2b2a2a;
  box-shadow: 0 3px 5px 10px rgb(0 0 0 / 50%);  
}

.navbar__inner-wrapper{
  width:100%;
  max-width:unset;
  padding: 0px 40px;
  display:flex;
  position:relative;
  align-items:center
}

.navbar__user-info{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.navbar__main{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}

nav button {
  border-radius:4px
}


.navbar__logo-container{
position:relative;
  height:60px;
  width:60px;
z-index:4000001
}


.navbar__logo {
position:absolute;
width:100%;
height:100%;
object-fit: cover;
inset:0;
}

.navbar__links {
  height: 100%;
  align-items: center;
  gap: 15px;
  display: flex;
  list-style-type: none;
  padding-right: 5px;
  background-color: inherit;
}

/* modifier class only for mobile */
.navbar__links.menu-open {
  top: 0%;
}

.navbar__links a {
  text-decoration: none;
  color: white;
}

.globe {
  font-size: 2rem;
  transition: transform 1s ease-in-out;
}

.globe:hover {
  transform: rotate(360deg) !important;
}


/* active class for <NavLInk> component */
.active{
  border-bottom: 2px solid white;
}

/* progress icons */
.status-light {
  color: white;
  filter: contrast(2);
  transition: color 300ms ease-in-out;
}

/* -------------------collapsible navbar code-------------- 

<ul> is up and away at movile
click icon in mobile-nav-toggler, sets menuOpen=true
<ul> gets menu-open class which brings the <ul> down
*/
.mobile-nav-toggler {
  display: none;
  margin-left: 2rem;
}

.mobile-nav-toggler svg{
  height:40px;
  width:40px;
  fill:white;
}

@media screen and (max-width: 600px) {

  .navbar__inner-wrapper{
    padding-left:16px;
  }

   .navbar__main{
    justify-content: center;
  }

  .navbar__progress{
        z-index:40000000;
    position:relative;
  }

    /* <ul> of navigation list items */
    .navbar__links {
      position: absolute;
      top: -100vh;
      left:0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content:center;
      gap: 20px;
      align-items: center;
      transition: 450ms ease-in-out;
      background-color: #2b2a2a;
      z-index: 4000000;
      /* high Z index due to override leaflet map's extreme z-index  */
    }

  /* reveal toggler with menu icons hidden*/
  .mobile-nav-toggler {
    display: block;
    position: absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    z-index: 4000000;
   
  }
}
